<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>

    <link href="../style/css/style.css" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <figure id="logo">
        <img
          src="../asset/img/cocacola.svg"
          class="d-block center"
          width="180"
          alt="company logo"
        />
      </figure>
      <div class="t-center light large-text" style="margin: 30px 0">LOGIN</div>
    </header>
    <main>
      <form action="" method="POST" class="d-block center" style="width:300px">
        <label for="email-form">Email</label>
        <br />
        <input
          type="email"
          class="form medium-text"
          name="email"
          id="email-form"
          required
        />
        <br />
        <label for="email-form">Password</label>
        <br />
        <input
          type="password"
          class="form medium-text"
          name="password"
          id="password-form"
          required
        />
        <br />
        <input
          type="submit"
          class="medium-text d-block center m-btn bg-blue white pointer"
          id="login-btn"
          style="margin-top:20px"
          value="Login"
        />
      </form>
    </main>

    <script>
      $(document).ready(function(){
        var email = $("#email-form").val()
        var pass = $("#password-form").val()

        $("#login-btn").submit(function(event){
          $.ajax({
            url: "http://localhost:3000/login",
            type: "post",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            data: {
              "email" : email,
              "password": pass
            },
            success: (result) => {
              console.log("hell no!!!")
            }


          })

        })


      })
    </script>
  </body>
</html>
